:root {
--black-text: #212121;
--blue-text: #2196F3;
--black-logo: #000000;
--white-text: #FFFFFF;
--grey-text: #757575;
--white-text-op60: rgba(255, 255, 255, 0.6);
--back-grey: #2F303A;
--back-light-grey: #F5F4FA;
--back-white: #FFFFFF;
}